/* #AQUI ESTAO SENDO GUARDADAS CODICOS QUE SERAO USADOS MAIS VEZES EM VARIAVEIS. */
:root {
  --primary-color: #0a1129;
  --white-color: #fff;
  --light-gray-color: #eeeeee;
  --gap: 3rem;
  --secondary-color: crimson;
}
